<h1>About</h1>
<div class="section main">
	<h2><i class="icon-user"></i> Bio</h2>
	<h3>Passionnate about building things and dedicated to making them less boring.</h3>
	<p>
		I'm french, was born in Paris the 8th of December 1987.<br>
		Always loved motorcycles. Been riding since I'm 6. Never stopped. On road, off road or on track.<br>
		I LOVE videogames, especially eSports. Passion is not enough to describe it!<br>
		Moved to Montreal in 2003, where I graduated in Finance in 2010.<br>
		Didn't like it and decided to completely change my career path and attend <a href="http://devbootcamp.com/">Dev Bootcamp</a> to become a developer and move to San Francisco (or NYC)!<br>
		So you guessed, <u>I am looking for a Job, starting January 2012!</u> *wink wink*<br>
		Contact me at jypepin@gmail.com
	</p>
</div>

<div class="section">
	<h2><i class="icon-bolt"></i> Passion</h2>
	<ul>
		<li>Motorcycle</li>
		<li>eSports</li>
		<li>Food</li>
	</ul>
</div>

<div class="section">
	<h2><i class="icon-folder-open"></i> Projects</h2>
	<ul>
		<li><a href="http://devbootcamp.com">DevBootcamp</a></li>
		<li>Swiv</li>
		<li>More coming...</li>
	</ul>
</div>

<div class="section">
	<h2><i class="icon-book"></i> Reads</h2>
	<ul>
		<li><a href="http://www.amazon.com/Hackers-Painters-Big-Ideas-Computer/dp/1449389554">Hackers and Painters</a></li>
		<li><a href="http://www.amazon.com/gp/product/B005DPIKPE/ref=as_li_ss_tl?ie=UTF8&tag=somniphobia-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=B005DPIKPE">How to count</a></li>
		<li><a href="http://mislav.uniqpath.com/poignant-guide/">_why's (poignant) guide</a></li>
		<li><a href="http://www.amazon.com/The-Cathedral-Bazaar-Revolutionary-ebook/dp/B0026OR3LM/ref=tmm_kin_title_0">The Cathedral and the Bazaar</a></li>
		<li><a href="http://www.amazon.com/Effective-Programming-More-Writing-ebook/dp/B008HUMTO0/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1346522366&sr=1-1&keywords=effective+programming+more+than+writing+code">Effective Programming</a></li>
		<li><a href="http://www.amazon.com/Alif-Unseen-G-Willow-Wilson/dp/0802120202">Alif the Unseen</a></li>
	</ul>
</div>

<div class="section">
	<h2><i class="icon-cogs"></i> Code Learning</h2>
	<ul>
		<li><a href="http://ruby.learncodethehardway.org/">Learn Ruby the Hard Way</a></li>
		<li><a href="http://ruby.railstutorial.org/">Michael Hartl's Tutorial</a></li>
		<li><a href="http://schneems.com/ut-rails">UT on Rails</a></li>
		<li>Plus RubyMonk, tryRuby, etc.</li>
	</ul>
</div>

<div class="section">
	<h2><i class="icon-paper-clip"></i> Writings</h2>
	<ul>
		<li><a href="https://gist.github.com/3869758">Ruby: Hash#sort</a></li>
		<li><a href="https://gist.github.com/3876531">Ruby: blocks, Procs and lambdas</a></li>
	</ul>
</div>