
	<div class="section main">
		<h2><i class="icon-user"></i> Bio</h2>
		<h3>Passionnate about building things and dedicated to making them less boring.</h3>
		<p>
			Born in Paris December 8, 1987.<br>
			Moved to Montreal to graduate in Finance. Realized software was better.<br>
			Went through DevBootcamp Fall 2012 and moved to San Francisco.<br>
			Passionnate about motorcycle and eSports.
		</p>
		<p>
			Working at Exec<br>
			Contact me at jypepin@gmail.com
		</p>
	</div>

	<div class="section">
		<h2><i class="icon-bolt"></i> Passion</h2>
		<ul>
			<li>Motorcycle</li>
			<li>eSports</li>
			<li>Food</li>
		</ul>
	</div>

	<div class="section">
		<h2><i class="icon-folder-open"></i> Projects</h2>
		<ul>
			<li><a href="http://www.swiv.co/">Swiv!</a></li>
			<li><a href="http://twitchr.herokuapp.com/">Twitchr</a></li>
			<li><a href="https://github.com/Jauny/tvdb_ruby">TVDB_Ruby Gem</a></li>
		</ul>
	</div>

	<div class="section">
		<h2><i class="icon-book"></i> Reads</h2>
		<ul>
			<li><a href="http://www.amazon.com/dp/0321721330">Practical OOD in Ruby</a></li>
			<li><a href="http://www.amazon.com/Hackers-Painters-Big-Ideas-Computer/dp/1449389554">Hackers and Painters</a></li>
			<li><a href="http://www.amazon.com/gp/product/B005DPIKPE/ref=as_li_ss_tl?ie=UTF8&tag=somniphobia-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=B005DPIKPE">How to count</a></li>
			<li><a href="http://mislav.uniqpath.com/poignant-guide/">_why's (poignant) guide</a></li>
			<li><a href="http://www.amazon.com/The-Cathedral-Bazaar-Revolutionary-ebook/dp/B0026OR3LM/ref=tmm_kin_title_0">The Cathedral and the Bazaar</a></li>
			<li><a href="http://www.amazon.com/Effective-Programming-More-Writing-ebook/dp/B008HUMTO0/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1346522366&sr=1-1&keywords=effective+programming+more+than+writing+code">Effective Programming</a></li>
			<li><a href="http://pragprog.com/categories/ruby_and_rails">The pragmatic bookshelf</a></li>
		</ul>
	</div>

	<div class="section">
		<h2><i class="icon-cogs"></i> Code Learning</h2>
		<ul>
			<li><a href="http://ruby.learncodethehardway.org/">Learn Ruby the Hard Way</a></li>
			<li><a href="http://ruby.railstutorial.org/">Michael Hartl's Tutorial</a></li>
			<li><a href="http://schneems.com/ut-rails">UT on Rails</a></li>
			<li>Plus RubyMonk, tryRuby, etc.</li>
		</ul>
	</div>

	<div class="section">
		<h2><i class="icon-paper-clip"></i> Writings</h2>
		<ul>
			<li><a href="https://gist.github.com/3869758">Ruby: Hash#sort</a></li>
			<li><a href="https://gist.github.com/3876531">Ruby: blocks, Procs and lambdas</a></li>
			<li><a href="http://jypepin.tumblr.com/post/35529582415/devbootcamp-week-end-6">Rails: Migrations</a></li>
		</ul>
	</div>
	