<div class="content">
  <a href="http://jypepin.tumblr.com" target="_blank"><i><small>Those are posts from my tumblr</small></i></a>
		<script type="text/javascript" src="http://jypepin.tumblr.com/js?num=10"></script>
	</div>