<div class="posts">
  <ul>
    <% @posts.each do |post| %>
      <li class="title"><%= link_to post.title, post_path(post) %></li>
      <li class="date"><%= post.date %></li><br>
    <% end %>
  </ul>
</div>
