<div class="posts">
  <ul>
    <% @posts.each do |post| %>
      <li class="title"><h1><%= link_to post.title, post_path(post) %></h1></li>
      <li class="date"><%= post.date %></li><br>
    <% end %>
  </ul>
</div>
