%header
  .profile-pic
    = image_tag "https://execmediaassets.s3.amazonaws.com/v2/hiring/team/Jonathan-Dino.jpg"
  .bio
    %ul
      %li Jonathan Pepin
      %li DevBootcamp Fall12
      %li DevBootcamp Mentor
      %li Soft. Engineer at Exec
      %li Dinosaur
