<header>
	<img id="rooster" src="assets/carlyvanderlee.svg">
	<div class="desc">
		<img src="https://secure.gravatar.com/avatar/42e10e7df6c5f098e09e8d4a1d612cc3" />
		Hi, I'm Jonathan Pepin :)<br>
		I'm a Fall DevBootcamp Student working to become a hacker 
		and join a start-up in December.<br>
		I love motorcycles, food and whisky.
	</div>
	<nav>
		<ul class="menu">
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Twitter', 'http://www.twitter.com/Jauny', target: '_blank' %></li>
			<li><%= link_to 'Github', 'https://github.com/Jauny', target: '_blank' %></li>
		</ul>
	</nav>
</header>